<section class="container-xs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="head-text">Posts</h3>
        <span class="underline big"><em> </em></span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        <div class="blog-list-content">
          <%= link_to '+ Add post', new_post_path, class: 'btn btn-success pull-right' if user_signed_in? %>
          <% @posts.each do |post| %>
            <div class="list-blog-m list-blog-blocks">
              <div class="row">
                <div class="col-md-5">
                  <div class="left-list-block effects-list">
                    <div class="small-hidden head-small-tags red-small-bg">
                      <i class="fa fa-video-camera fa-lg"></i>
                    </div>
                    <div class="head-tags red-bg">
                      <span class="head-title">movie</span>
                    </div>
                    <ul class="img-shop-list">
                      <li>
                        <a href="single-blog.html">
                          <img src="http://placehold.it/274x265" alt="//"/>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="list-blog-text">
                    <a href="<%= post_path(post) %>"><h4><%= post.title %></h4></a>
                    <p>
                      <%= post.intro %>...
                    </p>
                    <span>Dec 13th 2013 | 10.30 am</span>
                    <ul class="icons-list-blog">
                      <li class="icons-hover">
                        <span class="hover icons first">
                          <%= post.user.name %>
											  </span>
                        <a class="cast-link" href="#">
                          <i class="fa fa-user fa-lg list-icons"></i>
                        </a>
                      </li>
                      <li class="icons-hover">
										      <span class="hover icons">
											      230
											  </span>
                        <a class="cast-link" href="#">
                          <i class="fa fa-comments fa-lg list-icons"></i>
                        </a>
                      </li>
                      <li class="icons-hover">
										      <span class="hover icons">
											      260
											  </span>
                        <a class="cast-link" href="#">
                          <i class="fa fa-eye fa-lg list-icons"></i>
                        </a>
                      </li>
                      <li class="icons-hover">
										      <span class="hover icons">
											      8.0
											  </span>
                        <a class="cast-link" href="#">
                          <i class="fa fa-heart fa-lg list-icons"></i>
                        </a>
                      </li>
                      <li class="icons-hover">
                        <a class="cast-link" href="#">
                          <i class="fa fa-share-square fa-lg list-icons"></i>
                        </a>
                      </li>
                    </ul>
                    <%= link_to 'READ MORE', post, class: 'btn btn-blog-blocks' %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>

<!--
          <div class="list-blog-m list-blog-blocks">
            <div class="row">
              <div class="col-md-5">
                <div class="left-list-block effects-list">
                  <div class="small-hidden head-small-tags red-small-bg">
                    <i class="fa fa-video-camera fa-lg"></i>
                  </div>
                  <div class="head-tags red-bg">
                    <span class="head-title">movie</span>
                  </div>
                  <ul class="img-shop-list">
                    <li>
                      <a href="single-blog.html">
                        <img src="http://placehold.it/274x265" alt="//"/>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-7">
                <div class="list-blog-text">
                  <a href="single-blog.html"><h4>PRODUCT 1</h4></a>
                  <p>
                    Phasellus dictum pretium augue eu hendrerit. Fusce tincidunt ultricies pretium. Maecenas lacinia est
                    sed lacus blandit rutrum. Sed consectetur odio a consequat gravida. Maecenas pellentesque nibh eu
                    vestibulum porta. Cras malesuada felis ultricies pretium. Maecenas lacinia est sed lacus blandit
                    rutrum. Sed consectetur odio a consequat gravida. Maece ......
                  </p>
                  <span>Dec 13th 2013 | 10.30 am</span>
                  <ul class="icons-list-blog">
                    <li class="icons-hover">
										      <span class="hover icons first">
											      mohamed allam
											  </span>
                      <a class="cast-link" href="#">
                        <i class="fa fa-user fa-lg list-icons"></i>
                      </a>
                    </li>
                    <li class="icons-hover">
										      <span class="hover icons">
											      230
											  </span>
                      <a class="cast-link" href="#">
                        <i class="fa fa-comments fa-lg list-icons"></i>
                      </a>
                    </li>
                    <li class="icons-hover">
										      <span class="hover icons">
											      260
											  </span>
                      <a class="cast-link" href="#">
                        <i class="fa fa-eye fa-lg list-icons"></i>
                      </a>
                    </li>
                    <li class="icons-hover">
										      <span class="hover icons">
											      8.0
											  </span>
                      <a class="cast-link" href="#">
                        <i class="fa fa-heart fa-lg list-icons"></i>
                      </a>
                    </li>
                    <li class="icons-hover">
                      <a class="cast-link" href="#">
                        <i class="fa fa-share-square fa-lg list-icons"></i>
                      </a>
                    </li>
                  </ul>
                  <button class="btn btn-blog-blocks">READ MORE</button>
                </div>
              </div>
            </div>
          </div>
          <div class="list-blog-m list-blog-blocks">&lt;!&ndash;block&ndash;&gt;
            <div class="row">
              <div class="col-md-5">
                <div class="left-list-block effects-list">
                  <div class="small-hidden head-small-tags purple-small-bg">
                    <i class="fa fa-music fa-lg"></i>
                  </div>
                  <div class="head-tags purple-bg">
                    <span class="head-title">music</span>
                  </div>
                  <ul class="img-shop-list">
                    <li>
                      <a href="single-blog.html">
                        <img src="http://placehold.it/274x265" alt="//"/>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-7">
                <div class="list-blog-text">
                  <a href="single-blog.html"><h4>PRODUCT 1</h4></a>
                  <p>
                    Phasellus dictum pretium augue eu hendrerit. Fusce tincidunt ultricies pretium. Maecenas lacinia est
                    sed lacus blandit rutrum. Sed consectetur odio a consequat gravida. Maecenas pellentesque nibh eu
                    vestibulum porta. Cras malesuada felis ultricies pretium. Maecenas lacinia est sed lacus blandit
                    rutrum. Sed consectetur odio a consequat gravida. Maece ......
                  </p>
                  <span>Dec 13th 2013 | 10.30 am</span>
                  <ul class="icons-list-blog">
                    <li class="icons-hover">
										      <span class="hover icons first">
											      mohamed allam
											  </span>
                      <a class="cast-link" href="#">
                        <i class="fa fa-user fa-lg list-icons"></i>
                      </a>
                    </li>
                    <li class="icons-hover">
										      <span class="hover icons">
											      230
											  </span>
                      <a class="cast-link" href="#">
                        <i class="fa fa-comments fa-lg list-icons"></i>
                      </a>
                    </li>
                    <li class="icons-hover">
										      <span class="hover icons">
											      260
											  </span>
                      <a class="cast-link" href="#">
                        <i class="fa fa-eye fa-lg list-icons"></i>
                      </a>
                    </li>
                    <li class="icons-hover">
										      <span class="hover icons">
											      8.0
											  </span>
                      <a class="cast-link" href="#">
                        <i class="fa fa-heart fa-lg list-icons"></i>
                      </a>
                    </li>
                    <li class="icons-hover">
                      <a class="cast-link" href="#">
                        <i class="fa fa-share-square fa-lg list-icons"></i>
                      </a>
                    </li>
                  </ul>
                  <button class="btn btn-blog-blocks">READ MORE</button>
                </div>
              </div>
            </div>
          </div>
          <div class="list-blog-m list-blog-blocks">&lt;!&ndash;block&ndash;&gt;
            <div class="row">
              <div class="col-md-5">
                <div class="left-list-block effects-list carousel slide" data-ride="carousel" id="carousel-gallery-2">
                  <div class="small-hidden head-small-tags green-small-bg">
                    <i class="fa fa-image fa-lg"></i>
                  </div>
                  <div class="head-tags green-bg">
                    <span class="head-title">gallery</span>
                  </div>
                  <ul class="gallery-slider">
                    <li>
                      <a href="#carousel-gallery-2" data-slide="prev">
                        <i class="fa fa-angle-left fa-lg"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#carousel-gallery-2" data-slide="next">
                        <i class="fa fa-angle-right fa-lg"></i>
                      </a>
                    </li>
                  </ul>
                  <ul class="img-shop-list carousel-inner">
                    <li class="item active">
                      <a href="single-blog.html">
                        <img src="http://placehold.it/274x265" alt="//"/>
                      </a>
                    </li>
                    <li class="item">
                      <a href="single-blog.html">
                        <img src="http://placehold.it/274x265" alt="//"/>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-7">
                <div class="list-blog-text">
                  <a href="single-blog.html"><h4>PRODUCT 1</h4></a>
                  <p>
                    Phasellus dictum pretium augue eu hendrerit. Fusce tincidunt ultricies pretium. Maecenas lacinia est
                    sed lacus blandit rutrum. Sed consectetur odio a consequat gravida. Maecenas pellentesque nibh eu
                    vestibulum porta. Cras malesuada felis ultricies pretium. Maecenas lacinia est sed lacus blandit
                    rutrum. Sed consectetur odio a consequat gravida. Maece ......
                  </p>
                  <span>Dec 13th 2013 | 10.30 am</span>
                  <ul class="icons-list-blog">
                    <li class="icons-hover">
										      <span class="hover icons first">
											      mohamed allam
											  </span>
                      <a class="cast-link" href="#">
                        <i class="fa fa-user fa-lg list-icons"></i>
                      </a>
                    </li>
                    <li class="icons-hover">
										      <span class="hover icons">
											      230
											  </span>
                      <a class="cast-link" href="#">
                        <i class="fa fa-comments fa-lg list-icons"></i>
                      </a>
                    </li>
                    <li class="icons-hover">
										      <span class="hover icons">
											      260
											  </span>
                      <a class="cast-link" href="#">
                        <i class="fa fa-eye fa-lg list-icons"></i>
                      </a>
                    </li>
                    <li class="icons-hover">
										      <span class="hover icons">
											      8.0
											  </span>
                      <a class="cast-link" href="#">
                        <i class="fa fa-heart fa-lg list-icons"></i>
                      </a>
                    </li>
                    <li class="icons-hover">
                      <a class="cast-link" href="#">
                        <i class="fa fa-share-square fa-lg list-icons"></i>
                      </a>
                    </li>
                  </ul>
                  <button class="btn btn-blog-blocks">READ MORE</button>
                </div>
              </div>
            </div>
          </div>
          <div class="list-blog-blocks last-child">&lt;!&ndash;block&ndash;&gt;
            <div class="row">
              <div class="col-md-5">
                <div class="left-list-block effects-list">
                  <div class="small-hidden head-small-tags blue-small-bg">
                    <i class="fa fa-video-camera fa-lg"></i>
                  </div>
                  <div class="head-tags blue-bg">
                    <span class="head-title">games</span>
                  </div>
                  <ul class="img-shop-list">
                    <li>
                      <a href="single-blog.html">
                        <img src="http://placehold.it/274x265" alt="//"/>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-7">
                <div class="list-blog-text">
                  <a href="single-blog.html"><h4>PRODUCT 1</h4></a>
                  <p>
                    Phasellus dictum pretium augue eu hendrerit. Fusce tincidunt ultricies pretium. Maecenas lacinia est
                    sed lacus blandit rutrum. Sed consectetur odio a consequat gravida. Maecenas pellentesque nibh eu
                    vestibulum porta. Cras malesuada felis ultricies pretium. Maecenas lacinia est sed lacus blandit
                    rutrum. Sed consectetur odio a consequat gravida. Maece ......
                  </p>
                  <span>Dec 13th 2013 | 10.30 am</span>
                  <ul class="icons-list-blog">
                    <li class="icons-hover">
										      <span class="hover icons first">
											      mohamed allam
											  </span>
                      <a class="cast-link" href="#">
                        <i class="fa fa-user fa-lg list-icons"></i>
                      </a>
                    </li>
                    <li class="icons-hover">
										      <span class="hover icons">
											      230
											  </span>
                      <a class="cast-link" href="#">
                        <i class="fa fa-comments fa-lg list-icons"></i>
                      </a>
                    </li>
                    <li class="icons-hover">
										      <span class="hover icons">
											      260
											  </span>
                      <a class="cast-link" href="#">
                        <i class="fa fa-eye fa-lg list-icons"></i>
                      </a>
                    </li>
                    <li class="icons-hover">
										      <span class="hover icons">
											      8.0
											  </span>
                      <a class="cast-link" href="#">
                        <i class="fa fa-heart fa-lg list-icons"></i>
                      </a>
                    </li>
                    <li class="icons-hover">
                      <a class="cast-link" href="#">
                        <i class="fa fa-share-square fa-lg list-icons"></i>
                      </a>
                    </li>
                  </ul>
                  <button class="btn btn-blog-blocks">READ MORE</button>
                </div>
              </div>
            </div>
          </div>
-->
        </div>

        <div class="row">
          <!-- pages numbers -->
          <%= paginate @posts %>
<!--
          <div class="pages-numbers">
            <div class="col-md-7">
              <div class="numbers-content">
                <div class="numbers-content-row-1 pull-left">
                  <button class="btn shop-p-n-btn">1</button>
                  <button class="btn shop-p-n-btn">2</button>
                  <button class="btn shop-p-n-btn">3</button>
                  <button class="btn shop-p-n-btn">4</button>
                  <button class="btn shop-p-n-btn">5</button>
                  <button class="btn shop-p-n-btn">6</button>
                </div>
                <div class="numbers-content-row-2 pull-right">
                  <button class="btn next-prev-btn">previous</button>
                  <button class="btn next-prev-btn">next</button>
                </div>
              </div>
            </div>
          </div>
-->
        </div>
      </div>

      <div class="col-md-3"><!-- right side page -->
        <div class="products-details">
          <div class="">
            <h3 class="products-details-head">VIEW</h3><!-- view -->
            <div class="clearfix"></div>
            <div class="products-details-view">
              <div class="red-bg-list list-view">
                <a href="list-view-blog.html">
                  <i class="fa fa-bars fa-lg"></i>
                  <span>LIST VIEW</span>
                </a>
              </div>
              <div class="gray-bg-list grid-view">
                <a href="grid-view-blog.html">
                  <i class="fa fa-th-large fa-lg"></i>
                  <span>grid view</span>
                </a>
              </div>
            </div>
          </div>
          <!-- end view -->

          <div class="popular-posts">
            <h3 class="products-details-head">popular</h3><!-- popular posts -->
            <div class="clearfix"></div>
            <div class="popular-posts-content">
              <ul class="nav-tabs">
                <li class="active popular">
                  <a href="#section-3" data-toggle="tab"><span>popular</span></a>
                </li>
                <li class="comments">
                  <a href="#section-4" data-toggle="tab"><span>comments</span></a>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane fade in active" id="section-3"> <!-- tab section-1 -->
                  <div class="popular-content"> <!-- block 1 -->
                    <div class="popular-img">
                      <a href="single-blog.html">
                        <img src="http://placehold.it/46x45" alt="//"/>
                      </a>
                    </div>
                    <div class="popular-details">
                      <a href=""><span class="proj-name">Nullam porta est </span></a>
                      <a href=""><span class="author-name">by mohamed allam</span></a>
                      <a href=""><span class="views-numbs">2014 view</span></a>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="popular-content"> <!-- block 2 -->
                    <div class="popular-img">
                      <a href="single-blog.html">
                        <img src="http://placehold.it/46x45" alt="//"/>
                      </a>
                    </div>
                    <div class="popular-details">
                      <a href=""><span class="proj-name">Nullam porta est </span></a>
                      <a href=""><span class="author-name">by mohamed allam</span></a>
                      <a href=""><span class="views-numbs">2014 view</span></a>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="popular-content"> <!-- block 3 -->
                    <div class="popular-img">
                      <a href="single-blog.html">
                        <img src="http://placehold.it/46x45" alt="//"/>
                      </a>
                    </div>
                    <div class="popular-details">
                      <a href=""><span class="proj-name">Nullam porta est </span></a>
                      <a href=""><span class="author-name">by mohamed allam</span></a>
                      <a href=""><span class="views-numbs">2014 view</span></a>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="tab-pane fade" id="section-4"> <!-- tab section-2 -->
                  <div class="popular-content"> <!-- block 1 -->
                    <div class="popular-img">
                      <a href="single-blog.html">
                        <img src="http://placehold.it/46x45" alt="//"/>
                      </a>
                    </div>
                    <div class="popular-details">
                      <a href=""><span class="proj-name">Nullam porta est </span></a>
                      <a href=""><span class="author-name">by mohamed allam</span></a>
                      <a href=""><span class="views-numbs">2014 view</span></a>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="popular-content"> <!-- block 2 -->
                    <div class="popular-img">
                      <a href="single-blog.html">
                        <img src="http://placehold.it/46x45" alt="//"/>
                      </a>
                    </div>
                    <div class="popular-details">
                      <a href=""><span class="proj-name">Nullam porta est </span></a>
                      <a href=""><span class="author-name">by mohamed allam</span></a>
                      <a href=""><span class="views-numbs">2014 view</span></a>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="popular-content"> <!-- block 3 -->
                    <div class="popular-img">
                      <a href="single-blog.html">
                        <img src="http://placehold.it/46x45" alt="//"/>
                      </a>
                    </div>
                    <div class="popular-details">
                      <a href=""><span class="proj-name">Nullam porta est </span></a>
                      <a href=""><span class="author-name">by mohamed allam</span></a>
                      <a href=""><span class="views-numbs">2014 view</span></a>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end popular-posts-content -->
          </div>
          <!-- end popular posts -->

          <div class="categories"><!-- categories -->
            <h3 class="products-details-head">categories</h3><!-- view -->
            <div class="clearfix"></div>
            <ul>
              <li>
                <a href="#"><i class="fa fa-square fa-lg"></i></a>
                <a href="#"><span>All</span></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-square fa-lg"></i></a>
                <a href="#"><span>Computer</span></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-square fa-lg"></i></a>
                <a href="#"><span>Smaret phone</span></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-square fa-lg"></i></a>
                <a href="#"><span>Tablet</span></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-square fa-lg"></i></a>
                <a href="#"><span>Printer</span></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-square fa-lg"></i></a>
                <a href="#"><span>Camera</span></a>
              </li>
            </ul>
          </div>
          <!-- end categories -->
        </div>
      </div>

    </div>
  </div>
  <!-- end container -->
</section>
