<section class="container-xs"><!-- page content -->

  <div class="container">

    <div class="row">

      <div class="col-md-12"><!-- head tag -->

        <h3 class="head-text"><%= @post.title %></h3>

        <span class="underline big"><em> </em></span>

      </div>

    </div>

    <div class="row">

      <div class="col-md-9">

        <div class="row">

          <div class="col-md-12"><!-- single blog page content -->

            <div class="single-blog-top">

              <div class="head-tags purple-bg">

                <span class="head-title">music</span>

              </div>

              <div class="blog-img-default">

                <img src="http://placehold.it/698x304" alt="//">

              </div>

              <div class="blog-text-single">

                <%= @post.content %>

                <p>
                  <%= link_to 'Edit', edit_post_path(@post) %> | <%= link_to 'Back', posts_path %>
                </p>


                <span>Dec 13th 2013 | 10.30 am</span>

              </div>

              <div class="middle-blog-single">

                <div class="music-player">

                  <ul>

                    <li><a href="#"><i class="fa fa-pause"></i></a></li>

                    <li><a href="#"><i class="fa fa-fast-backward"></i></a></li>

                    <li><a href="#"><i class="fa fa-fast-backward"></i></a></li>

                    <li class="progress-side">


                      <span class="under-line music"><em> </em></span>


                    </li>

                    <li><a href="#"><i class="fa fa-volume-up marg-fix-r"></i></a></li>

                  </ul>

                </div>

                <div class="list-audio">

                  <ul>

                    <li>

                      <a href="#">

                        <i class="fa fa-share-square fa-lg"></i>

                      </a>

                    </li>

                    <li>

                      <a href="#">

                        <i class="fa fa-shopping-cart fa-lg"></i>

                      </a>

                    </li>

                    <li>

                      <a href="#">

                        <i class="fa fa-heart  fa-lg"></i>

                      </a>

                    </li>

                  </ul>

                </div>

              </div>

              <div class="share-icons-single">

                <div class="share-icons">

                  <ul>

                    <li>

                      <a href="#">

                        <i class="fa fa-user fa-lg"></i>

                      </a>

                    </li>

                    <li>

                      <a href="#">

                        <i class="fa fa-comments fa-lg"></i>

                      </a>

                    </li>

                    <li>

                      <a href="#">

                        <i class="fa fa-eye fa-lg"></i>

                      </a>

                    </li>

                    <li>

                      <a href="#">

                        <i class="fa fa-heart fa-lg"></i>

                      </a>

                    </li>

                    <li>

                      <a href="#">

                        <i class="fa fa-share-square fa-lg"></i>

                      </a>

                    </li>

                  </ul>

                </div>

                <div class="btns-single-blog">

                  <button class="btn btn-download">download now</button>

                  <button class="btn btn-add-to-cart">add to cart</button>

                </div>

              </div>

            </div>

          </div>


          <div class="col-md-12"><!-- comment box -->

            <div class="comments-box">

              <%= commontator_thread(@post) %>


              <h1>comments [2]</h1>

              <div class="comments-row-1">

                <div class="comments-avatar">

                  <img src="http://placehold.it/70x70" alt="//"/>

                </div>

                <div class="right-box">

                  <div>

                    <a href="#"><span class="user-name-comm">User NAme</span></a>

                    |

                    <a href="#"><span class="write-comm">write</span></a>

                  </div>

                  <div>

								          <span>

										      I such as the precious data you offer within your reports.I will bookmark your blog and check once more here often.I’m really certain I will discover an awful lot of recent things right listed here! Beneficial luck for your next!

										  </span>

                  </div>

                  <div class="date-time-comm">

                    <span>Dec 13th 2013 | 10.30 am</span>

                  </div>

                  <button class="btn btn-reply">reply</button>

                </div>

                <div class="comm-left-bar"></div>

              </div>

              <div class="comments-row-2">

                <div class="comments-avatar">

                  <img src="http://placehold.it/70x70" alt="//"/>

                </div>

                <div class="right-box">

                  <div>

                    <a href="#"><span class="user-name-comm">User NAme </span></a>

                    |

                    <a href="#"><span class="write-comm">write</span></a>

                  </div>

                  <div>

								          <span class="">

										      I such as the precious data you offer within your reports.I will bookmark your blog and check once more here often.I’m really certain I will discover an awful lot of recent things right listed here! Beneficial luck for your next!

										  </span>

                  </div>

                  <div class="date-time-comm">

                    <span>Dec 13th 2013 | 10.30 am</span>

                  </div>

                  <button class="btn btn-reply">reply</button>

                </div>

                <div class="comm-left-bar"></div>

              </div>

              <div class="comments-row-3">

                <div class="leave-mss">

                  <h3>LEAVE your comment</h3>

                </div>

                <form role="form">

                  <div class="leave-mss-content">

                    <div class="row ">

                      <div class="col-md-6">

                        <label class="text-label">Name:</label>

                        <input type="text" class="form-control-mss input-lg">

                      </div>

                      <div class="col-md-6">

                        <label class="text-label">Email:</label>

                        <input type="text" class="form-control-mss input-lg">

                      </div>

                      <div class="col-md-6">

                        <label class="text-label">Mobile:</label>

                        <input type="text" class="form-control-mss input-lg">

                      </div>

                      <div class="col-md-6">

                        <label class="text-label">website:</label>

                        <input type="text" class="form-control-mss input-lg">

                      </div>

                      <div class="col-md-12">

                        <label class="text-label">message:</label>

                        <textarea class="form-control-mss message-m input-lg"></textarea>

                        <button type="submit" class="btn btn-send-mss">send message</button>

                      </div>

                    </div>

                  </div>

                </form>

              </div>

            </div>

          </div>

          <section class="slide-show-2 same-posts"> <!-- slide show 2-->

            <div class="col-md-12"><!-- head tag -->

              <h3 class="head-text">related posts</h3>

              <span class="underline big"><em> </em></span>

            </div>

            <div class="col-md-12">

              <div class="slide-2 clearfix">

                <ul class="slide-2-content"> <!-- slide show 2 content-->

                  <li> <!-- item 2-->

                    <div class="item-2 block-m-right effects-list">

                      <div class="filter"></div>

                      <div class="small-hidden head-small-tags purple-small-bg">

                        <i class="fa fa-music fa-lg"></i>

                      </div>

                      <div class="head-tags purple-bg">

                        <span class="head-title">music</span>

                      </div>

                      <div class="slide-2-tittles"> <!-- topic tittles-->

                        <span class="rate">8.0</span>

                        <a href="single-blog.html">

                          <h5>At vero eos et accusamus et vero eos et accu</h5>

                        </a>

                        <p class="title-p">

                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidi tetur
                          adipiscing elit, sed do eiusmod tempor incidi

                        </p>

                        <div class="topic-icons"> <!-- slide show 2-->

                          <div class="left-side">

                            <i class="fa fa-clock-o fa-lg"></i>

                            <span>dec 16, 2014</span>

                          </div>

                          <div class="right-side">

                            <a href="single-blog.html"><span>read more</span></a>

                            <i class="fa fa-long-arrow-right fa-lg"></i>

                          </div>

                        </div>

                      </div>

                      <img src="http://placehold.it/224x325" alt="//"/>

                    </div>

                    <div class="item-2 block-m-right effects-list">

                      <div class="filter"></div>

                      <div class="small-hidden head-small-tags purple-small-bg">

                        <i class="fa fa-music fa-lg"></i>

                      </div>

                      <div class="head-tags purple-bg">

                        <span class="head-title">music</span>

                      </div>

                      <div class="slide-2-tittles"> <!-- topic tittles-->

                        <span class="rate">8.0</span>

                        <a href="single-blog.html">

                          <h5>At vero eos et accusamus et vero eos et accu</h5>

                        </a>

                        <p class="title-p">

                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidi tetur
                          adipiscing elit, sed do eiusmod tempor incidi

                        </p>

                        <div class="topic-icons"> <!-- slide show 2-->

                          <div class="left-side">

                            <i class="fa fa-clock-o fa-lg"></i>

                            <span>dec 16, 2014</span>

                          </div>

                          <div class="right-side">

                            <a href="single-blog.html"><span>read more</span></a>

                            <i class="fa fa-long-arrow-right fa-lg"></i>

                          </div>

                        </div>

                      </div>

                      <img src="http://placehold.it/224x325" alt="//"/>

                    </div>

                    <div class="item-2 effects-list">

                      <div class="filter"></div>

                      <div class="small-hidden head-small-tags purple-small-bg">

                        <i class="fa fa-music fa-lg"></i>

                      </div>

                      <div class="head-tags purple-bg">

                        <span class="head-title">music</span>

                      </div>

                      <div class="slide-2-tittles"> <!-- topic tittles-->

                        <span class="rate">8.0</span>

                        <a href="single-blog.html">

                          <h5>At vero eos et accusamus et vero eos et accu</h5>

                        </a>

                        <p class="title-p">

                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidi tetur
                          adipiscing elit, sed do eiusmod tempor incidi

                        </p>

                        <div class="topic-icons"> <!-- slide show 2-->

                          <div class="left-side">

                            <i class="fa fa-clock-o fa-lg"></i>

                            <span>dec 16, 2014</span>

                          </div>

                          <div class="right-side">

                            <a href="single-blog.html"><span>read more</span></a>

                            <i class="fa fa-long-arrow-right fa-lg"></i>

                          </div>

                        </div>

                      </div>

                      <img src="http://placehold.it/224x325" alt="//"/>

                    </div>

                  </li>

                </ul>

              </div>

            </div>

          </section>

        </div>

      </div>


      <div class="col-md-3">

        <div class="products-details"><!-- right side page -->

          <div class="">

            <h3 class="products-details-head">latest music</h3><!-- latest-music -->

            <div class="clearfix"></div>

            <div class="popular-posts-content">

              <ul class="nav-tabs">

                <li class="active popular">

                  <a href="#section-1" data-toggle="tab"><span>albums</span></a>

                </li>

                <li class="comments">

                  <a href="#section-2" data-toggle="tab"><span>songs</span></a>

                </li>

              </ul>

              <div class="tab-content">

                <div class="tab-pane fade in active" id="section-1"> <!-- tab section-1 -->

                  <div class="latest-media"><!-- blok - 1 -->

                    <div class="latest-media-img">

                      <a href="single-blog.html">

                        <img src="http://placehold.it/46x45" alt="//"/>

                      </a>

                    </div>

                    <div class="latest-media-details">

                      <a href="#"><span class="album-name">album name</span></a>

                      <a href="#"><span class="album-vote">30 votes</span></a>

                      <ul>

                        <li>

                          <a href="#">

                            <i class="fa fa-shopping-cart fa-lg"></i>

                          </a>

                        </li>

                        <li>

                          <a href="#">

                            <i class="fa fa-heart fa-lg"></i>

                          </a>

                        </li>

                      </ul>

                      <div class="vote-line"></div>

                    </div>

                  </div>

                  <div class="clearfix"></div>

                  <div class="latest-media"><!-- blok - 2 -->

                    <div class="latest-media-img">

                      <a href="single-blog.html">

                        <img src="http://placehold.it/46x45" alt="//"/>

                      </a>

                    </div>

                    <div class="latest-media-details">

                      <a href="#"><span class="album-name">album name</span></a>

                      <a href="#"><span class="album-vote">30 votes</span></a>

                      <ul>

                        <li>

                          <a href="#">

                            <i class="fa fa-shopping-cart fa-lg"></i>

                          </a>

                        </li>

                        <li>

                          <a href="#">

                            <i class="fa fa-heart fa-lg"></i>

                          </a>

                        </li>

                      </ul>

                      <div class="vote-line"></div>

                    </div>

                  </div>

                  <div class="clearfix"></div>

                  <div class="latest-media"><!-- blok - 3 -->

                    <div class="latest-media-img">

                      <a href="single-blog.html">

                        <img src="http://placehold.it/46x45" alt="//"/>

                      </a>

                    </div>

                    <div class="latest-media-details">

                      <a href="#"><span class="album-name">album name</span></a>

                      <a href="#"><span class="album-vote">30 votes</span></a>

                      <ul>

                        <li>

                          <a href="#">

                            <i class="fa fa-shopping-cart fa-lg"></i>

                          </a>

                        </li>

                        <li>

                          <a href="#">

                            <i class="fa fa-heart fa-lg"></i>

                          </a>

                        </li>

                      </ul>

                      <div class="vote-line"></div>

                    </div>

                  </div>

                  <div class="clearfix"></div>

                </div>

                <div class="tab-pane fade" id="section-2"> <!-- tab section-2 -->

                  <div class="latest-media"><!-- blok - 1 -->

                    <div class="latest-media-img">

                      <a href="single-blog.html">

                        <img src="http://placehold.it/46x45" alt="//"/>

                      </a>

                    </div>

                    <div class="latest-media-details">

                      <a href="#"><span class="album-name">album name</span></a>

                      <a href="#"><span class="album-vote">30 votes</span></a>

                      <ul>

                        <li>

                          <a href="#">

                            <i class="fa fa-shopping-cart fa-lg"></i>

                          </a>

                        </li>

                        <li>

                          <a href="#">

                            <i class="fa fa-heart fa-lg"></i>

                          </a>

                        </li>

                      </ul>

                      <div class="vote-line"></div>

                    </div>

                  </div>

                  <div class="clearfix"></div>

                  <div class="latest-media"><!-- blok - 2 -->

                    <div class="latest-media-img">

                      <a href="single-blog.html">

                        <img src="http://placehold.it/46x45" alt="//"/>

                      </a>

                    </div>

                    <div class="latest-media-details">

                      <a href="#"><span class="album-name">album name</span></a>

                      <a href="#"><span class="album-vote">30 votes</span></a>

                      <ul>

                        <li>

                          <a href="#">

                            <i class="fa fa-shopping-cart fa-lg"></i>

                          </a>

                        </li>

                        <li>

                          <a href="#">

                            <i class="fa fa-heart fa-lg"></i>

                          </a>

                        </li>

                      </ul>

                      <div class="vote-line"></div>

                    </div>

                  </div>

                  <div class="clearfix"></div>

                  <div class="latest-media"><!-- blok - 3 -->

                    <div class="latest-media-img">

                      <a href="single-blog.html">

                        <img src="http://placehold.it/46x45" alt="//"/>

                      </a>

                    </div>

                    <div class="latest-media-details">

                      <a href="#"><span class="album-name">album name</span></a>

                      <a href="#"><span class="album-vote">30 votes</span></a>

                      <ul>

                        <li>

                          <a href="#">

                            <i class="fa fa-shopping-cart fa-lg"></i>

                          </a>

                        </li>

                        <li>

                          <a href="#">

                            <i class="fa fa-heart fa-lg"></i>

                          </a>

                        </li>

                      </ul>

                      <div class="vote-line"></div>

                    </div>

                  </div>

                  <div class="clearfix"></div>

                </div>

              </div>

            </div>
            <!-- end popular-posts-content -->

          </div>
          <!-- end latest-music -->


          <div class="popular-posts">

            <h3 class="products-details-head">popular</h3><!-- popular posts -->

            <div class="clearfix"></div>

            <div class="popular-posts-content">

              <ul class="nav-tabs">

                <li class="active popular">

                  <a href="#section-3" data-toggle="tab"><span>popular</span></a>

                </li>

                <li class="comments">

                  <a href="#section-4" data-toggle="tab"><span>comments</span></a>

                </li>

              </ul>

              <div class="tab-content">

                <div class="tab-pane fade in active" id="section-3"> <!-- tab section-1 -->

                  <div class="popular-content"> <!-- block 1 -->

                    <div class="popular-img">

                      <a href="single-blog.html">

                        <img src="http://placehold.it/46x45" alt="//"/>

                      </a>

                    </div>

                    <div class="popular-details">

                      <a href=""><span class="proj-name">Nullam porta est </span></a>

                      <a href=""><span class="author-name">by mohamed allam</span></a>

                      <a href=""><span class="views-numbs">2014 view</span></a>

                    </div>

                    <div class="clearfix"></div>

                  </div>

                  <div class="popular-content"> <!-- block 2 -->

                    <div class="popular-img">

                      <a href="single-blog.html">

                        <img src="http://placehold.it/46x45" alt="//"/>

                      </a>

                    </div>

                    <div class="popular-details">

                      <a href=""><span class="proj-name">Nullam porta est </span></a>

                      <a href=""><span class="author-name">by mohamed allam</span></a>

                      <a href=""><span class="views-numbs">2014 view</span></a>

                    </div>

                    <div class="clearfix"></div>

                  </div>

                  <div class="popular-content"> <!-- block 3 -->

                    <div class="popular-img">

                      <a href="single-blog.html">

                        <img src="http://placehold.it/46x45" alt="//"/>

                      </a>

                    </div>

                    <div class="popular-details">

                      <a href=""><span class="proj-name">Nullam porta est </span></a>

                      <a href=""><span class="author-name">by mohamed allam</span></a>

                      <a href=""><span class="views-numbs">2014 view</span></a>

                    </div>

                    <div class="clearfix"></div>

                  </div>

                </div>

                <div class="tab-pane fade" id="section-4"> <!-- tab section-2 -->

                  <div class="popular-content"> <!-- block 1 -->

                    <div class="popular-img">

                      <a href="single-blog.html">

                        <img src="http://placehold.it/46x45" alt="//"/>

                      </a>

                    </div>

                    <div class="popular-details">

                      <a href=""><span class="proj-name">Nullam porta est </span></a>

                      <a href=""><span class="author-name">by mohamed allam</span></a>

                      <a href=""><span class="views-numbs">2014 view</span></a>

                    </div>

                    <div class="clearfix"></div>

                  </div>

                  <div class="popular-content"> <!-- block 2 -->

                    <div class="popular-img">

                      <a href="single-blog.html">

                        <img src="http://placehold.it/46x45" alt="//"/>

                      </a>

                    </div>

                    <div class="popular-details">

                      <a href=""><span class="proj-name">Nullam porta est </span></a>

                      <a href=""><span class="author-name">by mohamed allam</span></a>

                      <a href=""><span class="views-numbs">2014 view</span></a>

                    </div>

                    <div class="clearfix"></div>

                  </div>

                  <div class="popular-content"> <!-- block 3 -->

                    <div class="popular-img">

                      <a href="single-blog.html">

                        <img src="http://placehold.it/46x45" alt="//"/>

                      </a>

                    </div>

                    <div class="popular-details">

                      <a href=""><span class="proj-name">Nullam porta est </span></a>

                      <a href=""><span class="author-name">by mohamed allam</span></a>

                      <a href=""><span class="views-numbs">2014 view</span></a>

                    </div>

                    <div class="clearfix"></div>

                  </div>

                </div>

              </div>

            </div>
            <!-- end popular-posts-content -->

          </div>
          <!-- end popular posts -->


          <div class="categories"><!-- categories -->

            <h3 class="products-details-head">categories</h3><!-- view -->

            <div class="clearfix"></div>

            <ul>

              <li>

                <a href="#"><i class="fa fa-square fa-lg"></i></a>

                <a href="#"><span>All</span></a>

              </li>

              <li>

                <a href="#"><i class="fa fa-square fa-lg"></i></a>

                <a href="#"><span>Computer</span></a>

              </li>

              <li>

                <a href="#"><i class="fa fa-square fa-lg"></i></a>

                <a href="#"><span>Smaret phone</span></a>

              </li>

              <li>

                <a href="#"><i class="fa fa-square fa-lg"></i></a>

                <a href="#"><span>Tablet</span></a>

              </li>

              <li>

                <a href="#"><i class="fa fa-square fa-lg"></i></a>

                <a href="#"><span>Printer</span></a>

              </li>

              <li>

                <a href="#"><i class="fa fa-square fa-lg"></i></a>

                <a href="#"><span>Camera</span></a>

              </li>

            </ul>

          </div>
          <!-- end categories -->

        </div>
        <!-- end products details -->

      </div>

    </div>

  </div>
  <!-- end container -->

</section>
