<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>JazzOK</title>
  <meta name="description" content="JazzOK - magazine about lifestyle like a jazz"/>
  <meta name="keywords" content="jazz, music, live, video, movies, drink, whiskey"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,700,900' rel='stylesheet' type='text/css'/>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700' rel='stylesheet' type='text/css'/>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>

<%= render 'inc/header' %>

<%= render 'inc/nav' %>

<%= render 'inc/mid_bar' %>

<%= render 'inc/latest' %>

<%= yield %>

<%= render 'inc/footer' %>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>
